Anabella/Anabella_biblioteca02.xsd

<?xml version="1.0" encoding="utf-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="biblioteca">
        <complexType>
            <sequence>
                <element name="libros">
                    <complexType>
                        <sequence>
                            <element name="libro">
                                <complexType>
                                    <sequence>
                                        <element name="titulo" type="string" />
                                        <element name="sinopsis" type="string" />
                                        <element name="indice">
                                            <complexType>
                                                <sequence>
                                                    <element maxOccurs="unbounded" name="item">
                                                        <complexType>
                                                            <simpleContent>
                                                                <extension base="string">
                                                                    <attribute name="pagina" type="integer" use="required" />
                                                                </extension>
                                                            </simpleContent>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="capitulos">
                                            <complexType>
                                                <sequence>
                                                    <element maxOccurs="unbounded" name="capitulo">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="contenido">
                                                        <complexType>
                                                            <attribute name="enlace" type="string" use="required" />
                                                        </complexType>
                                                    </element>
                                                        </sequence>
                                                        <attribute name="id_capitulo" type="string" use="required" />
                                                        <attribute name="titulo_cap" type="string" use="required" />
                                                        <attribute name="paginas" type="integer" use="required" />
                                                    </complexType>
                                                </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="id" type="string" use="required" />
                                    <attribute name="tipo_clase" type="string" use="required" />
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="revistas">
                    <complexType>
                        <sequence>
                            <element name="revista">
                                <complexType>
                                    <sequence>
                                        <element name="titulo_rev" type="string" />
                                        <element name="numero" type="integer" />
                                        <element name="indice_rev">
                                            <complexType>
                                                <sequence>
                                                    <element maxOccurs="unbounded" name="item">
                                                        <complexType>
                                                            <simpleContent>
                                                                <extension base="string">
                                                                    <attribute name="pagina" type="integer" use="required" />
                                                                </extension>
                                                            </simpleContent>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="secciones">
                                            <complexType>
                                                <sequence>
                                                    <element maxOccurs="unbounded" name="seccion">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="seccion_r">
                                                                    <complexType>
                                                                        <attribute name="titulo" type="string" use="required" />
                                                                        <attribute name="paginas" type="integer" use="required" />
                                                                    </complexType>
                                                                </element>
                                                                <element name="contenido_rev">
                                                                    <complexType>
                                                                        <attribute name="enlace" type="string" use="required" />
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="id" type="string" use="required" />
                                    <attribute name="tipo_clase" type="string" use="required" />
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="periodicos">
                    <complexType>
                        <sequence>
                            <element name="periodico">
                                <complexType>
                                    <sequence>
                                        <element name="secciones">
                                            <complexType>
                                                <sequence>
                                                    <element maxOccurs="unbounded" name="seccion_per">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="articulo">
                                                                    <complexType>
                                                                        <simpleContent>
                                                                            <extension base="string">
                                                                                <attribute name="autor" type="string" use="required" />
                                                                            </extension>
                                                                        </simpleContent>
                                                                    </complexType>
                                                                </element>
                                                                <element name="contenido_p">
                                                                    <complexType>
                                                                        <attribute name="enlace" type="string" use="required" />
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="tipo_seccion" type="string" use="required" />
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="id" type="string" use="required" />
                                    <attribute name="tipo_clase" type="string" use="required" />
                                    <attribute name="fecha_publicacion" type="date" use="required" />
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
