Anabella/Anabella_bibliotecoa_con_xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libros">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="libro" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="sinopsis" type="xs:string"/>
                                        <xs:element name="indice">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="item" minOccurs="1" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:integer">
                                                                    <xs:attribute name="pagina" type="xs:integer" use="required"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>                                                     
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>                                   
                                        <xs:element name="capitulo">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="contenido">
                                                        <xs:complexType>
                                                            <xs:simpleContent>                                                      
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="enlace" type="xs:string" use="required"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>                                                
                                                </xs:sequence>
                                                <xs:attribute name="id_capitulo" type="xs:string" use="required"/>
                                                <xs:attribute name="titulo_cap" type="xs:string" use="required"/>
                                                <xs:attribute name="paginas" type="xs:integer" use="required"/>                                              
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>                       
                                    <xs:attribute name="id" type="xs:string" use="required" default="1"/>
                                    <xs:attribute name="tipo_clase" type="xs:string" use="required"/>                                    
                                </xs:complexType>
                            </xs:element>                      
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="revistas" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="revista" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo_rev" type="xs:string"/>
                                        <xs:element name="numero" type="xs:integer"/>
                                        <xs:element name="indice_rev" type="xs:string"/>
                                        <xs:element name="articulos" minOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="articulo" minOccurs="1" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="pagina" type="xs:integer" use="required"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    <xs:element name="secciones" minOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="seccion_r" minOccurs="1" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="titulo" type="xs:string"/>
                                                                <xs:element name="paginas" type="xs:integer"/>
                                                                <xs:element name="contenido_rev">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="enlace" type="xs:string" use="required"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                    <xs:attribute name="tipo_clase" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            <xs:element name="periodicos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="periodico" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="secciones">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="seccion_per" minOccurs="1" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="articulo" minOccurs="1" maxOccurs="unbounded">
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                        <xs:extension base="xs:string">
                                                                            <xs:attribute name="autor" type="xs:string" use="required"/>
                                                                        </xs:extension>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="contenido" minOccurs="0" maxOccurs="unbounded">
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                        <xs:extension base="xs:string">
                                                                            <xs:attribute name="enlace" type="xs:string" use="required"/>
                                                                        </xs:extension>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute name="tipo_seccion" type="xs:string" use="required"/>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>                                
                                </xs:sequence>
                                <xs:attribute name="id" type="xs:string" use="required"/>
                                <xs:attribute name="tipo_clase" type="xs:string" use="required"/>
                                <xs:attribute name="fecha_publicacion" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>